
.skip {
    position: absolute;
    top: -50px;
    left: 10px;
    background: yellow;
    padding: 10px;
}
.skip:focus {
    top: 10px;
}


.navbar {
    display: flex;
    gap: 20px;
    background: #333;
    padding: 15px;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navbar a:hover {
    color: orange;
}


img {
    border: 4px solid #444;
    padding: 10px;
    border-radius: 12px;
    width: 250px;
}


.grid-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.grid-gallery img:nth-child(odd) {
    border-radius: 50px;
}


.hover-img:hover {
    transform: scale(1.1);
    transition: 0.4s;
}
